<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTRANET:Booking Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/intranet.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/decimal.js"></script>
</head>
<body>
<nav>HOME > Booking Confirmation > EXCEL > DETAIL</nav>
<div>
    <a href="/">HOME</a>
    <a href="/BookingConfirmation/excel">EXCEL</a>
    <a href="/BookingConfirmation/company">COMPANY</a>
    <form th:action="@{/logout}" th:method="post"><input type="submit" value="LOGOUT"></form>
</div>
<div>
    <h1>EXCEL</h1>
    <h2>EXCEL INFO</h2>
    <div id="companyBox">
        <label for="company">COMPANY</label>
        <select id="company">
            <option th:data-id="${company.id}" th:data-acronym="${company.companyInvoiceAcronym}" th:each="company : ${companies}" th:text="${company.companyTitle}" th:value="${company.companyName}"></option>
        </select>
    </div>
    <form th:action="@{/BookingConfirmation/excel/insert}" th:method="post" th:object="${excel}" onsubmit="return validateSumNights()">
        <table>
            <tbody>
            <tr>
                <td colspan="2">
                    <label for="title">Invoice No</label>
                    <div id="titleBox">
                        <input id="title-init" type="text" readonly>
                        +
                        <input id="title-tail" type="text">
                    </div>
                    <input id="title" th:field="*{title}" type="hidden" required>
                </td>
                <td colspan="2">
                    <label for="propertyName">propertyName</label>
                    <input id="propertyName" th:field="*{propertyName}" type="text" required>
                </td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <label for="checkIn">checkIn</label>
                    <input id="checkIn" th:field="*{checkIn}" type="datetime-local" required>
                </td>
                <td style="width: 25%">
                    <label for="checkOut">checkOut</label>
                    <input id="checkOut" th:field="*{checkOut}" type="datetime-local" required>
                </td>
                <td style="width: 25%">
                    <label for="guestName">guestName</label>
                    <input id="guestName" th:field="*{guestName}" type="text" required>
                </td>
                <td style="width: 25%">
                    <label for="apartmentType">apartmentType</label>
                    <input id="apartmentType" th:field="*{apartmentType}" type="text" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="apartmentAddress">apartmentAddress</label>
                    <input id="apartmentAddress" th:field="*{apartmentAddress}" type="text" required>
                </td>
                <td colspan="2">
                    <label for="koreanAddress">koreanAddress</label>
                    <input id="koreanAddress" th:field="*{koreanAddress}" type="text" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="totalNights">totalNights</label>
                    <input id="totalNights" th:field="*{totalNights}" type="number" readonly required>
                </td>
                <td colspan="2">
                    <label for="price">price</label>
                    <input id="price" step="0.01" th:field="*{price}" type="number" required>
                </td>
                <td>
                    <label for="totalRent">totalRent</label>
                    <input id="totalRent" step="0.01" th:field="*{totalRent}" type="number" readonly required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ofGuests">ofGuests</label>
                    <input id="ofGuests" th:field="*{ofGuests}" type="text" required>
                </td>
                <td>
                    <label for="bookedBy">bookedBy</label>
                    <input id="bookedBy" th:field="*{bookedBy}" type="text" required>
                </td>
                <td>
                    <label for="bookingRequestCompany">bookingRequestCompany</label>
                    <input id="bookingRequestCompany" th:field="*{bookingRequestCompany}" type="text" readonly required>
                </td>
                <td>
                    <label for="extensionOfLease">extensionOfLease</label>
                    <input id="extensionOfLease" th:field="*{extensionOfLease}" type="text" required>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="notice">notice</label>
                    <textarea rows="5" id="notice" th:field="*{notice}" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="signedDate">signedDate</label>
                    <input id="signedDate" th:field="*{signedDate}" type="date" required>
                </td>
                <td>
                    <label for="service">service</label>
                    <input id="service" th:field="*{service}" type="text" required>
                </td>
                <td>
                    <label for="remarks01">remarks01</label>
                    <input id="remarks01" th:field="*{remarks01}" type="text" required>
                </td>
                <td>
                    <label for="remarks02">remarks02</label>
                    <input id="remarks02" th:field="*{remarks02}" type="text" required>
                </td>
            </tr>
            </tbody>
        </table>

        <input id="companyId" th:field="*{companyId}" type="hidden">

        <div id="ivExcels">
            <label>IV Excels</label>
            <div th:each="ivExcel, iterStat : *{ivExcelVos}">
                <input th:field="*{ivExcelVos[__${iterStat.index}__].name}" placeholder="Name" type="text" readonly required />
                <input th:field="*{ivExcelVos[__${iterStat.index}__].nights}" placeholder="Nights" type="number" required th:onkeyup="|ivPriceSetting(this, ${iterStat.index})|" />

                <input th:id="${'ivPrice' + iterStat.index}" readonly type="number"/>

                <input th:field="*{ivExcelVos[__${iterStat.index}__].checkDay}" readonly placeholder="checkDay" type="datetime-local"/>
                <input th:field="*{ivExcelVos[__${iterStat.index}__].isCheck}" type="checkbox" th:onclick="|checkDaySetting(this, ${iterStat.index})|"/>
                <input type="hidden" th:name="*{ivExcelVos[__${iterStat.index}__].isCheck}" value="false"/>
            </div>
        </div>
        <button type="button" onclick="addIVExcel()">IV Excels: Add</button>
        <button type="button" id="ivExcelsReset">IV Excels: RESET</button>

        <h2>MEMO</h2>
        <table>
            <tbody>
            <tr>
                <td colspan="4">
                    <label for="houseAddr">집 주소</label>
                    <input th:field="*{houseAddr}" id="houseAddr" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="startDate">임대 시작일</label>
                    <input th:field="*{startDate}" id="startDate" type="date">
                </td>
                <td>
                    <label for="endDate">임대 종료일</label>
                    <input th:field="*{endDate}" id="endDate" type="date">
                </td>
                <td>
                    <label for="deposit">보증금</label>
                    <input th:field="*{deposit}" id="deposit" type="number">
                </td>
                <td>
                    <label for="monthlyRent">월세</label>
                    <input th:field="*{monthlyRent}" id="monthlyRent" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="isTax">
                        <input type="checkbox" id="isTax">
                        부가세 유무
                    </label>
                    <input th:field="*{isTax}" id="isTaxValue" type="hidden">
                </td>
                <td colspan="3">
                    <label for="accountInfo">임대인 계좌 정보</label>
                    <input th:field="*{accountInfo}" id="accountInfo" type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="info1">특이사항1</label>
                    <input th:field="*{info1}" id="info1" type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="info2">특이사항2</label>
                    <input th:field="*{info2}" id="info2" type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="info3">특이사항3</label>
                    <input th:field="*{info3}" id="info3" type="text">
                </td>
            </tr>
            </tbody>
        </table>

        <input type="submit" value="EXCEL DOWNLOAD & DATA SAVE">
    </form>
</div>
<script>
    const title = document.querySelector("#title");
    const titleInit = document.querySelector("#title-init");
    const titleTail = document.querySelector("#title-tail");
    const checkIn = document.querySelector("#checkIn");
    const checkOut = document.querySelector("#checkOut");
    const totalNights = document.querySelector("#totalNights");
    const price = document.querySelector("#price");
    const totalRent = document.querySelector("#totalRent");
    const isTax = document.querySelector("#isTax");
    const isTaxValue = document.querySelector("#isTaxValue");

    const ivExcelsDiv = document.getElementById("ivExcels");

    function ivPriceSetting(target, index) {
        document.querySelector("#ivPrice" + index).value = new Decimal(price.value).times(Number(target.value)).toFixed(2);
    }

    function checkDaySetting(target, index) {
        const checkDay = document.getElementById("ivExcelVos"+index+".checkDay");

        let now = new Date();
        let offset = now.getTimezoneOffset() * 60000; // getTimezoneOffset()은 분 단위이므로 ms 변환 필요
        let localDate = new Date(now - offset).toISOString().slice(0, 16);

        if (target.checked) checkDay.value = localDate;
        else checkDay.value = "";
    }

    const ivPricePreSetting = () => {
        for (let i = 0; i < ivExcelsDiv.childElementCount - 1; i++) {
            document.querySelector("#ivPrice" + i).value = new Decimal(price.value).times(Number(document.getElementById("ivExcelVos"+i+".nights").value)).toFixed(2);
        }
    }

    ivPricePreSetting();

    isTax.addEventListener("change", () => {
        if (isTax.checked) isTaxValue.value = "Y";
        else isTaxValue.value = "N";
    });

    // 부가세 초깃값 설정
    isTax.checked = isTaxValue.value === "Y";

    checkIn.addEventListener("change", () => {
        if (!isNaN(getCheckDaies())) totalNights.value = getCheckDaies();
    })
    checkOut.addEventListener("change", () => {
        if (!isNaN(getCheckDaies())) totalNights.value = getCheckDaies();
    })

    price.addEventListener("change", () => {
        totalRent.value = getTotalRent();
        ivPricePreSetting();
    })
    totalNights.addEventListener("change", () => {
        totalRent.value = getTotalRent();
    })

    const getTotalRent = () => {
        return new Decimal(price.value).times(totalNights.value).toFixed(2);
    }

    // 회사명 자동 입력
    const company = document.querySelector("#company");
    const companyNameHandler = () => {
        const companyName = company.value;
        if (companyName!=="") {
            document.querySelector("#bookingRequestCompany").value = companyName;
            document.querySelector("#companyId").value = company.options[company.selectedIndex].dataset.id;
            const now = new Date();
            const time = String(now.getHours()).padStart(2, '0') + String(now.getMinutes()).padStart(2, '0'); // 두 자리로 포맷
            const date = String(now.getDate()).padStart(2, '0');
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const year = now.getFullYear().toString().slice(-2);
            titleInit.value = company.options[company.selectedIndex].dataset.acronym + time + date + month + year;
            title.value = titleInit.value;
        } else {
            document.querySelector("#companyBox").style = "display: none;";
            document.querySelector("#titleBox").style = "display: none;";
            title.type = "text";
            title.readOnly = true;
        }
    }
    company.addEventListener("change", companyNameHandler);
    companyNameHandler();


    titleTail.addEventListener("keyup", () => title.value = titleInit.value + titleTail.value);

    // 인보이스 페이지 추가
    function addIVExcel() {

        const newDiv = document.createElement("div");

        const index = ivExcelsDiv.childElementCount; // 현재 항목 수
        newDiv.innerHTML = `
        <input id="ivExcelVos`+(index-1)+`.name" name="ivExcelVos[${index-1}].name" placeholder="Name" type="text" readonly required value="M`+index+`"/>
        <input id="ivExcelVos`+(index-1)+`.nights" name="ivExcelVos[${index-1}].nights" placeholder="Nights" type="number" onkeyup="ivPriceSetting(this, `+(index-1)+` )" required />
        <input id="ivPrice`+(index-1)+`" readonly type="number"/>
        <input id="ivExcelVos`+(index-1)+`.checkDay" name="ivExcelVos[${index-1}].checkDay" placeholder="checkDay" type="datetime-local" readonly />
        <input id="ivExcelVos`+(index-1)+`.isCheck1" name="ivExcelVos[${index-1}].isCheck" placeholder="isCheck" type="checkbox" value="true" onclick="checkDaySetting(this,` + (index-1) + ` )" />
        <input name="_ivExcelVos[${index-1}].isCheck" placeholder="isCheck" type="hidden" required />
    `;
        ivExcelsDiv.appendChild(newDiv);
    }

    // 인보이스 리셋
    document.querySelector("#ivExcelsReset").addEventListener("click" , () => {
        document.querySelector("#ivExcels").innerHTML='<label>IV Excels</label>';
    })

    getCheckDaies = () => {
        const startDate = new Date(checkIn.value.split('T')[0]); // 시간 제거
        const endDate = new Date(checkOut.value.split('T')[0]); // 시간 제거
        return (endDate - startDate) / (1000 * 60 * 60 * 24);
    }

    // submit시 날짜 정합성 확인
    function validateSumNights() {
        const totalNightsValue = Number(totalNights.value);

        // checkin - checkout 기간 과 totalNights 비교
        if (totalNightsValue !== getCheckDaies()) {
            alert("totalNights 와 checkIn - checkOut 기간이 맞지 않습니다.")
            return false;
        }

        // 인보이스의 nights 합계와 totalNights 비교
        const inputs = Array.from(document.querySelectorAll('input[name^="ivExcelVos"][name$=".nights"]'));
        const sum = inputs.reduce((total, input) => {
            const value = parseFloat(input.value); // 숫자로 변환
            return total + (isNaN(value) ? 0 : value); // 유효한 숫자만 누적
        }, 0);
        if (totalNightsValue !== sum) {
            alert("totalNights 와 invoice의 합계가 맞지 않습니다.");
            return false;
        }

        return true;
    }
</script>
</body>
</html>