<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTRANET:Booking Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/intranet.css}"/>
</head>
<body>
<nav>HOME > Booking Confirmation > EXCEL</nav>
<div>
    <a href="/">HOME</a>
    <a href="/BookingConfirmation/excel">EXCEL</a>
    <a href="/BookingConfirmation/company">COMPANY</a>
    <form th:action="@{/logout}" th:method="post"><input type="submit" value="LOGOUT"></form>
</div>
<div>
    <!-- 검색 폼 -->
    <form th:action="@{/BookingConfirmation/excel}" method="get">
        <label for="keyword">키워드 검색</label>
        <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드 검색">
        <input type="submit" value="검색">

    </form>

    <table>
        <thead>
        <tr>
            <th>title</th>
            <th>propertyName</th>
            <th>guestName</th>
            <th>수정일</th>
            <th>등록일</th>
            <th>삭제버튼</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items.content}">
            <td>
                <a th:href="@{/BookingConfirmation/excel/{id}(id=${item.id})}"><span th:text="${item.title}">title</span></a>
            </td>
            <td>
                <span th:text="${item.propertyName}">propertyName</span>
            </td>
            <td>
                <span th:text="${item.guestName}">guestName</span>
            </td>
            <td>
                <span th:text="${item.updatedAt}">수정일</span>
            </td>
            <td>
                <span th:text="${item.createdAt}">등록일</span>
            </td>
            <td>
                <form th:action="@{/BookingConfirmation/excel/{id}(id=${item.id})}" th:method="post">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징 네비게이션 -->
    <div class="pagination">
        <a th:if="${items.hasPrevious()}" th:href="@{/BookingConfirmation/excel(page=${items.number - 1}, size=${items.size}, keyword=${keyword})}">
            &laquo; Previous
        </a>
        <span th:text="${items.number + 1}"></span> / <span th:text="${items.totalPages}"></span>
        <a th:if="${items.hasNext()}" th:href="@{/BookingConfirmation/excel(page=${items.number + 1}, size=${items.size}, keyword=${keyword})}">
            Next &raquo;
        </a>
    </div>
    <a href="/BookingConfirmation/excel/insert">INSERT</a>
</div>
</body>
</html>